body{
  height: 3000px;
}
.block{
display: flex;
justify-content: space-between;
align-items: center;
position: fixed;
top: 0;
left: 0;
right: 0;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 50px;
padding-right: 50px;


}

.left-section{
display: flex;
align-items: center;
}
.picture-profile{
height: 50px;
width: 50px;
object-fit: cover;
border-radius: 30px;
margin-right: 10px;

}

.name{
font-family: Arial;
font-weight: bold;

}

.add-friend{
color: white;
background-color: rgb(89, 105, 245);
font-weight: bold;
border: none;
border-radius: 4px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 15px;
padding-right: 15px;
margin-right: 10px;
cursor: pointer;
}
.Message{
color: black;
background-color: rgb(216, 216, 216);
border: none;
border-radius: 4px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 15px;
padding-right: 15px;
font-weight: bold;
cursor: pointer;

}