body{
  height: 3000px;
  }
  div{
    font-family: Arial;
  }
  .left-sidebar{
    position: fixed;
    top: 0;
   left: 0;
    bottom: 0;
  background-color: rgb(32, 32, 32);
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  
  
  }

.picture{
width: 70px;
height: 70px;
object-fit: cover;
border-radius: 50px;
margin-bottom: 10px;

}

.middle-sidebar{
background-color: rgb(54, 54, 54);
position: fixed;
top: 0;
bottom: 0;
padding-top: 15px;
padding-left: 15px;
padding-right: 15px;
left: 90px;
width: 150px;


}

.header{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 10px;

}
.info{
color: white;
font-size: 14px;
font-weight: bold;
}
.create-new{
color: rgb(194, 194, 194);
font-size: 24px;
}
.channel{
color: rgb(201, 201, 201);
margin-bottom: 15px;
font-size: 14px;
}