p{
  font-size: 16px;
  font-family: Arial;
  color: gray;
  margin-top: 0;
  margin-bottom:0;
}
.button{
background-color: rgb(75, 75, 197);
color: white;
padding-top: 15px;
padding-left: 30px;
padding-right: 30px;
padding-bottom: 15px;
object-position: center;
width: 330px;
font-size: 20px;
border: none;
border-radius: 30px;
margin-top: 20px;
cursor: pointer;
}
.Label{
margin-bottom: 20px;
}
.text{
margin-top: 20px;
}
.text-box{
width: 310px;
padding-top: 5px;
padding-bottom: 5px;
border-style: solid;
border-radius: 5px;
border-width: 2px;
cursor: pointer;
}