.amazon-link {
  color: pink;
}
.amazon-link:hover {
color: rgb(163, 22, 163);
}

.title {
  font-size: 30px;
  font-weight: bold;

}

.prise {
  color: green;

}

.add-to-cart-button {
  background-color: yellow;
  color: black;
  border: none;
  border-radius: 30px;
  height: 30px;
  width: 120px;
  cursor: pointer;
  margin-right: 8px;

}
.add-to-cart-button:hover {
background-color:rgb(240, 208, 27);
}
.add-to-cart-button:active {
opacity: 0.5;
}

.buy-now-button {
  background-color: orange;
  border: none;
  border-radius: 30px;
  height: 30px;
  width: 120px;
  cursor: pointer;

}
.buy-now-button:hover{
background-color:  rgb(226, 163, 45);
}
.buy-now-button:active {
opacity: 0.5;
}
